form, ::placeholder, button {
  text-transform: capitalize;
}
.formInput {
  display: flex;
  flex-direction: column;
}
label, span {
  text-align: left;
}
input {
  padding-left: 1em;
}
.error {
  color: #fe6262;
  text-transform: none;
}